body{
    background-image: url(fondo2.gif);
    background-size: 100vw 100vh;
}

.puntaje{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    top: 22%;
    left: 79%;
    position: absolute;
    color: white;
}

.movimientos{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    top: 58%;
    left: 79%;
    position: absolute;
    color: #fff;
}

.marcador{
    display:flex;
    align-items: center;
    justify-content: center;
    left:77%;
    top: 30%;
    position: absolute;
    font-size: 4px;
    border-style: solid;
    border-width: 2px;
    border-color: skyblue;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.cantidad{
    font-size: 13px;
    font-weight: bold;
    top: 66%;
    left: 77%;
    position: absolute;
    font-size: 4px;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    border-width: 2px;
    border-color: skyblue;
    display:flex;
    align-items: center;
    justify-content: center;
}

.cantidad > input{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background: rgba(67, 204, 204, 0.397);
    color: rgb(0, 0, 0);
}

.marcador>input{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border-style: none;
    background: rgba(67, 204, 204, 0.397);
    color: rgb(17, 16, 16);
}

.filas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.columnas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: hsla(355, 50%, 50%, 0.445);
}

.filas > div {

    width: 120px;
    height: 120px;
    font-size: 45px;
    /*LOS BORDES*/
    border-color: rgba(140, 221, 144, 0.63);
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    
}

.contenedor{
    margin-top: -5px;
}

.numeros{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.numeros>span{
    font-size: 70px;
    
    margin-left: 55px;
    margin-right: 45px;
}

.numeros {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .numeros span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #e7dbdbfb;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-45px)
    }
}

/* colores de los cuadritos de las casillas */

.x2 {
    background-color: white;
    color: #727371;
}

.x4 {
    background-color: #e1c699;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}